  </main>
  <script>
    window.FileBridgeSuggestions = <%- typeof suggestionsJson !== "undefined" ? suggestionsJson : "{}" %>;
  </script>
  <script src="/js/suggestions.js"></script>
</body>
</html>
